.Employee-Form-bg {
  position: absolute;
  background-color: rgba(85, 75, 75, 0.238);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 100;
  display: none;
}

.Employee-Form-bg.active {
  display: block;
}

.Employee-Form {
  max-width: 960px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
}


.Employee-Form-title {
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b7b1b194;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Employee-Form-title button {
  width: 35px;
  height: 32px;
  padding: 0 10px 10px 5px;
  background-color: #f832465f;
  position: relative;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.Employee-Form-title button:hover {
  background-color: #f8324526;
}


.Employee-Form-title button::after{
  content: '';
  width: 18px;
  height: 1px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: 14px;
  left: 8px;
  transform: rotate(-45deg);
}
.Employee-Form-title button::before{
  content: '';
  width: 18px;
  height: 1px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: 14px;
  left: 8px;
  transform: rotate(45deg);
}


form {
  display: flex;
  align-items: start;
  gap: 45px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  position: relative;
}

form div:first-child input {
  width: 350px;
  max-width: 350px;
  font-size: 18px;
  padding: 15px;
  margin-bottom: 20px;  
  border-radius: 5px;
  border: 1px solid #999;
}

form div:first-child input:focus-visible {
  outline: 2px solid #1621b7;
}
form div:first-child input:hover {
  border: 1px solid #000
}
form div:last-child p {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
}
.Form-Gender {
  display: flex;
  flex-direction: row;
  margin-left: 0px;

}
.Form-Gender label {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-right: 10px;  
  cursor: pointer;
}
.Form-Gender label input[type='radio'] {
  width: 20px;
  height: 20px;
  accent-color: red;
  cursor: pointer;
}


form select {
  width: 350px;
  padding: 17px;
  border-radius: 5px;
  margin-top: 21px;
  margin-bottom: 20px;
  cursor: pointer;
}

form  select:focus-visible {
  outline: 2px solid #1621b7;
}

form input[type='date'] {
  width: 350px;
  color: #999;
  padding: 14px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #999;
  cursor: text;
}

form input[type='date']:focus-visible {
  outline: 2px solid #1621b7;
}


label.checkbox  {
  display: flex;
  gap: 15px;
  margin-top: 24px;
  margin-bottom: 28px;
}

label.checkbox span {
  color: #000000cd;
  font-size: 16px;
}

form input[type='checkbox'] {
  font-size: 18px;
  width: 20px;
  height: 20px;
}

.Form-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.Form-btn button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
              0px 2px 2px 0px rgba(0,0,0,0.14),
              0px 1px 5px 0px rgba(0,0,0,0.12);

}

.Form-btn button:first-child {
  color: #fff;
  font-weight: 500;
  background-color: #1621b7;
}

.Form-btn button:first-child:hover {
  background-color: #020b86;
}

.Form-btn button:last-child {
  color: #000;
  background-color: #e2e2e2; 
}

.Form-btn button:last-child:hover {
  background-color: #c3c1c1; ;
}

